Repository DataDog/omnibus-software, pull requests merged in 2024-06, with the labels that each got.

#526 libffi: use an HTTPS mirror
  config/software/libffi.rb
Labels: mergequeue-status: removed

#530 [CI] Deprecate qa/skip-qa label (#515)
  .github/workflows/open-datadog-agent-pr.yml
Labels: mergequeue-status: in_progress

#529 Open a PR in the Agent only on merges on master
  .github/workflows/open-datadog-agent-pr.yml
Labels: no-auto-bump
