Repository DataDog/omnibus-software, pull requests merged in 2024-07, with the labels that each got.

#531 Update cacert.pem file's hash
  config/software/cacerts.rb
Labels: mergequeue-status: removed

#534 update team label in auto bump PR workflow
  .github/workflows/open-datadog-agent-pr.yml
Labels: no-auto-bump

#535 Update cURL to 8.7.1
  config/software/curl.rb
Labels: mergequeue-status: waiting
